// Color variales
$page-backgr:#c3cfe2;
$text-backgr:#fff;
$footer-backgr:#686de0;
$footer-text-clr:#fff;
$content-text-clr:#000;
$image-border-clr:#000;

// Social links colors
$social-facebook:#3b5998;
$social-twitter:#00aced;
$social-github:#333;
$social-linkedin:#007bb6;
$social-blog:#e17b77;

// font property
$cont-font-size:5vw;


// site property

$social-square:50px;
$image-square:150px;
$border-prop:solid;
$border-size:10px;

//Testomonial screen settings
$scr-max-400:400px;
$tablet-small:401px;
$tablet-portret:768px;
$tablet-lanscape:1024px;
$desktop-wide:1600px;
