@import "./variables";
@import "./mixins";

body{
    background-color:$page-backgr;
    font-size: $cont-font-size;
    text-align: center;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

.testemonial{
    background-color: $text-backgr;
    font-size: 20px;
    margin: 25px auto;
    width: 300px;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    .testemonial-tekst{
        // font-size: 20px;
        height: 300px;
        z-index: 1;
        margin-bottom: 50px;
    }
    .testemonial-image-round{
        @include square-img;
        border: 10px solid #fff;
        position: absolute;
        top: 40%;
        bottom: 0;
        right: 0;
        left: 25%;
        z-index: 1;
    }
    &::after{
        content: '';
        position: absolute;
        display: block;
        background-color: $footer-backgr;
        width: 100%;
        height: 45%;
        border-radius: 0 0 25px 25px;
        top: 55%;
        bottom: 0;
        right: 0;
        left: 0;
    }
    p{
        position: relative;
        z-index: 1;
        a{
            @include hyperlinks;
            
        }
    }
}

.portfolio{
    @include section-grid;
    justify-items: center;
    
    .portfolio-container{
        position: relative;
        width: 200px;
        @include container;
        .portfolio-container-btn{
            @include button;
        }
    }
    .portfolio-container:hover .portfolio-container-btn{
        opacity: 1;
    }
}

.social-links{
    @include social;
    .social-links--list{
        padding: 0;
    }
    .linkedin{
        background-color:$social-linkedin;
    }
    .facebook{
        background-color: $social-facebook;
    }
    .github{
        background-color: $social-github;
    }
    .twitter{
        background-color: $social-twitter;
    }
    .blog{
        background-color: $social-blog;
    }
    .social-links--list-items-link{
        color: white;
    }
    
}