@import "./variables";
@import "./mixins";

body{
    background-color:$page-backgr;
    font-size: $cont-font-size;
    text-align: center;
    margin: 0;
    padding: 0;
}
.section-canvas{
    background-color: $text-backgr;
    font-size: 20px;
    margin: 25px auto;
    width: 300px;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    .tekst{
        // font-size: 20px;
        height: 300px;
        z-index: 1;
        margin-bottom: 50px;
    }
    .image{
        @include square-img;
        border: 10px solid #fff;
        position: absolute;
        top: 40%;
        bottom: 0;
        right: 0;
        left: 25%;
        z-index: 1;
    }
    &::after{
        content: '';
        position: absolute;
        display: block;
        background-color: $footer-backgr;
        width: 100%;
        height: 45%;
        border-radius: 0 0 25px 25px;
        top: 55%;
        bottom: 0;
        right: 0;
        left: 0;
    }
    p{
        position: relative;
        z-index: 1;
        a{
            @include hyperlinks;
            
        }
    }
}

.portfolio{
    display: grid;
    position: relative;
    max-width: 70%;
    margin: 10px auto;
    gap: 10px;
    @include screen-with-porto;

    .foto-btn{
        position: relative;
        background-color: rgba(0, 0, 0, 1);
        
        .porto-img{
            background-color: rgba(0, 0, 0, 1);
        }

        a{
            position: absolute;
            top: 50%;
            left: 35%;
            z-index: 1;
            opacity: 0;

            .img-btn{
                @include button-prop;
            }
        }
        .porto-img:hover{
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
}
.porto-img:hover, a{
    opacity: 1;
}

.social-links{
    @include social;
    .social-list{
        padding: 0;
    }
    .linkedin{
        background-color:$social-linkedin;
    }
    .facebook{
        background-color: $social-facebook;
    }
    .github{
        background-color: $social-github;
    }
    .twitter{
        background-color: $social-twitter;
    }
    .blog{
        background-color: $social-blog;
    }
    .social-link{
        color: white;
    }
    
}