body {
  background-color: #c3cfe2;
  font-size: 5vw;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.testemonial {
  background-color: #fff;
  font-size: 20px;
  margin: 25px auto;
  width: 300px;
  border-radius: 25px;
  padding: 20px;
  position: relative;
}
.testemonial .testemonial-tekst {
  height: 300px;
  z-index: 1;
  margin-bottom: 50px;
}
.testemonial .testemonial-image-round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 10px solid #fff;
  position: absolute;
  top: 40%;
  bottom: 0;
  right: 0;
  left: 25%;
  z-index: 1;
}
.testemonial::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #686de0;
  width: 100%;
  height: 45%;
  border-radius: 0 0 25px 25px;
  top: 55%;
  bottom: 0;
  right: 0;
  left: 0;
}
.testemonial p {
  position: relative;
  z-index: 1;
}
.testemonial p a {
  text-decoration: none;
  color: #c3cfe2;
  transition: background-color 300ms ease-out;
  position: relative;
  padding: 5px;
  border-radius: 15px;
}
.testemonial p a:hover {
  background-color: #fff;
}
.testemonial p a:visited {
  color: #c3cfe2;
}

.portfolio {
  display: grid;
  gap: 15px;
  margin: 15px;
  justify-items: center;
}
.portfolio img {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio img {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio img {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio img {
    width: 100%;
  }
}
.portfolio .portfolio-container {
  position: relative;
  width: 200px;
  height: 266.45px;
}
.portfolio .portfolio-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 150ms ease-in;
}
.portfolio .portfolio-container:hover::before {
  background-color: rgb(0, 0, 0);
}
.portfolio .portfolio-container .portfolio-container-btn {
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  border-radius: 25px;
  max-height: 3rem;
  position: absolute;
  top: 35%;
  right: 50%;
  bottom: 0;
  left: 0;
  transform: translate(50%, 30%);
  opacity: 0;
  cursor: pointer;
}
.portfolio .portfolio-container .portfolio-container-btn:hover {
  background-color: #686de0;
}
.portfolio .portfolio-container:hover .portfolio-container-btn {
  opacity: 1;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  align-content: center;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 175px;
  bottom: 100px;
  font-size: 25px;
  z-index: 1;
}
.social-links .social-links--list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  width: 50%;
}
.social-links .social-links--list .social-links--list-items {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 400ms ease-out;
  overflow: hidden;
  position: relative;
}
.social-links .social-links--list .social-links--list-items:hover {
  width: 160px;
}
.social-links .social-links--list .social-links--list-items .social-links--list-items-link {
  text-decoration: none;
}
.social-links .social-links--list .social-links--list-items .social-links--list-items-link:hover {
  text-align: left;
  padding-left: 5px;
}
.social-links .social-links--list .social-links--list-items .social-links--list-items-link:hover::after {
  content: " Follow me";
  color: white;
}
.social-links .social-links--list {
  padding: 0;
}
.social-links .linkedin {
  background-color: #007bb6;
}
.social-links .facebook {
  background-color: #3b5998;
}
.social-links .github {
  background-color: #333;
}
.social-links .twitter {
  background-color: #00aced;
}
.social-links .blog {
  background-color: #e17b77;
}
.social-links .social-links--list-items-link {
  color: white;
}/*# sourceMappingURL=site.css.map */